.main {
  background-color: #9db2bf;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 150px;
  font-weight: 300;
  flex-direction: column;
  overflow-y: hidden;

  .daysCounter {
    position: absolute;
    top: 55%;
    left: 75%;
    color: white;
    height: 10px;

    .imgs {
      position: absolute;
      left: 30px;
      flex-direction: row;
      display: flex;
      gap: 160px;

      img {
        border-radius: 50%;
        background-color: #526d82;
        padding: 20px;
        cursor: pointer;
      }
    }
  }
}
.controlsPanel {
  background-color: #dde6ed;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-shrink: 2;
  justify-content: space-between;
  padding: 30px;

  button {
    padding: 20px 50px;
    cursor: pointer;
    background-color: #526d82c2;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  button:hover {
    background-color: #526d82;
  }
}
